# =========================
# APP
# =========================
PORT=3000
NODE_ENV=development

# =========================
# DATABASE - MYSQL
# =========================
DB_TYPE=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER=mysqluser
DB_PASSWORD=mysqlpassword
DB_NAME=mysqldatabase

# =========================
# TYPEORM
# =========================
DB_SYNCHRONIZE=true
DB_LOGGING=true