# =========================
# APP
# =========================
PORT=3000
NODE_ENV=development

# =========================
# DATABASE - POSTGRES
# =========================
DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USER=pguser
DB_PASSWORD=pgpassword
DB_NAME=pgdatabase

# =========================
# TYPEORM
# =========================
DB_SYNCHRONIZE=true
DB_LOGGING=true